.content {
    padding: 20px 15px;
    .title {
        text-transform: uppercase;
        font-weight: 800;
    }
    ul.product {
        padding-top: 20px;
        padding-bottom: 20px;
        li {}
    }
}